# Exercises: pandas Series and DataFrames

In [1]:
import pandas as pd

## Problem 1:

Create a Pandas series called `prob1_ser` using a dictionary, that has the country name as index and population as the values.  Here is the data set (from 2017):

    * China     1,409,517,397
    * India     1,339,180,127
    * USA         324,459,463
    * Indonesia   263,991,379
    * Brazil      209,288,278

Give the data a name equal to $Population$.

In [5]:
prob1_ser= pd.Series({
    "China":1409517397,
    "India": 1339180127,
    "USA":324458463,
    "Indonesia":263991379,
    "Brazil": 209288278})
prob1_ser

China        1409517397
India        1339180127
USA           324458463
Indonesia     263991379
Brazil        209288278
dtype: int64

## Problem 2:

Create a Pandas DataFrame called `prob2_df` using a list of dictionaries that has 3 columns and 5 rows.  The column names are `Country Name`, `Population` and `Size` (which is in $km^2$).

      Country Name   Population          Size
    
    * China	   1,409,517,397     9,572,900
    * India       1,339,180,127     3,287,263
    * USA           324,459,463     9,629,091
    * Indonesia     263,991,379     1,904,556
    * Brazil        209,288,278     8,511,965

In [186]:
prob02_df= pd.DataFrame(data=[
    ["China",1409517397, 9572900],
    ["India", 1339180127, 3287263],
    ["USA", 324458463, 9629091],
    ["Indonesia",263991379, 1904556],
    ["Brazil", 209288278, 8511965]
],columns=["Country Name","Population","Size"])


prob2_df= pd.DataFrame(
    {
        "Country Name":["China","India","USA","Indonesia","Brazil"],
        "Population":[1409517397,1339180127,324458463,263991379,209288278],
        "Size":[9572900,3287263,9629091,1904556,8511965]
    }
)

print(
    prob02_df,
    "\n++++++++++++++++++++++++\n",
    prob2_df
)

  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324458463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965
++++++++++++++++++++++++
   Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324458463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965

## Problem 3:

Using the Pandas DataFrame previously created (`prob2_df`), print the:
    
- Number of rows and columns
- Column Names
- A sample of 2 rows
- A summary of the values

In [42]:
print(
    "\n",
    "Number of rows: "+str(len(prob2_df))+2*"\n",
    "Columns: \n"+str(prob2_df.columns)+2*"\n",
    "Sample: \n"+str(prob2_df.sample(2))+2*"\n",
    "Summary: \n"+str(prob2_df.describe())
    )

 Number of rows: 5

 Columns:
Index(['Country Name', 'Population', 'Size'], dtype='object')

 Sample:
  Country Name  Population     Size
1        India  1339180127  3287263
2          USA   324458463  9629091

 Summary:
         Population          Size
count  5.000000e+00  5.000000e+00
mean   7.092871e+08  6.581155e+06
std    6.089885e+08  3.697593e+06
min    2.092883e+08  1.904556e+06
25%    2.639914e+08  3.287263e+06
50%    3.244585e+08  8.511965e+06
75%    1.339180e+09  9.572900e+06
max    1.409517e+09  9.629091e+06

In [40]:
print('Number of rows and columns:',prob2_df.shape)
print('Column Names:',list(prob2_df.columns))
print('Sample: \n\n',prob2_df.sample(2))
print(prob2_df.describe())

Number of rows and columns: (5, 3)
Column Names: ['Country Name', 'Population', 'Size']
Sample:

   Country Name  Population     Size
1        India  1339180127  3287263
0        China  1409517397  9572900
         Population          Size
count  5.000000e+00  5.000000e+00
mean   7.092871e+08  6.581155e+06
std    6.089885e+08  3.697593e+06
min    2.092883e+08  1.904556e+06
25%    2.639914e+08  3.287263e+06
50%    3.244585e+08  8.511965e+06
75%    1.339180e+09  9.572900e+06
max    1.409517e+09  9.629091e+06

## Problem 4:

Using the Pandas DataFrame previously created (`prob2_df`), print the:
    
- Data in the column `Population`
- The second row
- The size of the country in the last row

In [89]:
print(
    "\n",
    "Populatoin: \n",prob2_df["Population"],2*"\n",
    "2nd row: \n",prob2_df.iloc[1],2*"\n",
    "Size: ",prob2_df.loc[len(prob2_df)-1,"Size"]
)
print(2*"\n",prob2_df)

 Populatoin:
 0    1409517397
1    1339180127
2     324458463
3     263991379
4     209288278
Name: Population, dtype: int64

 2nd row:
 Country Name         India
Population      1339180127
Size               3287263
Name: 1, dtype: object

 Size:  8511965


   Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324458463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965

## Problem 5:

Using the Pandas DataFrame previously created (`prob2_df`), print:
    
- A series that shows True or False for countries with Sizes greater than 3,500,000
- A series that shows True or False for countries with Sizes greater than 3,500,000 and Populations smaller than 350,000,000
- A data frame that only shows the rows for countries with Sizes greater than 3,500,000 and Populations smaller than 350,000,000

In [104]:
x= 3500000
print(prob2_df["Size"]> x)
print((prob2_df["Size"]> x) & (prob2_df["Population"] < x*100))
print(prob2_df[(prob2_df["Size"]> x) & (prob2_df["Population"] < x*100)])

0     True
1    False
2     True
3    False
4     True
Name: Size, dtype: bool
0    False
1    False
2     True
3    False
4     True
dtype: bool
  Country Name  Population     Size
2          USA   324458463  9629091
4       Brazil   209288278  8511965

## Problem 6:

Using the Pandas DataFrame previously created (`prob2_df`):
    
- Change Brazil's population to 250,000,000
- Change China's size to 9,580,000

In [117]:
prob2_df.loc[prob2_df["Country Name"] == "Brazil","Population"]= 250000000
prob2_df.loc[prob2_df["Country Name"]== "China", "Size"]= 9580000
prob2_df

  Country Name  Population     Size
0        China  1409517397  9580000
1        India  1339180127  3287263
2          USA   324458463  9629091
3    Indonesia   263991379  1904556
4       Brazil   250000000  8511965

## Problem 7:

Using the Pandas DataFrame previously created (`prob2_df`):
    
- Rename the indices to the first three letters of each country (e.g. 'Chi', 'Ind', 'USA', etc.) and assign the output to a new data frame called prob7_df

In [189]:
prob7_df= prob02_df.copy(deep=True)

country_list=[x[0:3] for x in prob2_df.loc[:,"Country Name"]]

prob7_df.index=country_list
print(prob7_df,2*"\n",prob02_df)

    Country Name  Population     Size
Chi        China  1409517397  9572900
Ind        India  1339180127  3287263
USA          USA   324458463  9629091
Ind    Indonesia   263991379  1904556
Bra       Brazil   209288278  8511965

   Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324458463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965

In [199]:
count_name = list(prob2_df['Country Name'])
# print(count_name)

count_dict = {}
for i, name in enumerate(count_name):
    # print(i,name,name[0:3])
    count_dict[i] = name[0:3]
count_dict

prob7_df = prob2_df.rename(count_dict)# map old row index to new row index
print(prob7_df,2*"\n",prob2_df)

    Country Name  Population     Size
Chi        China  1409517397  9572900
Ind        India  1339180127  3287263
USA          USA   324458463  9629091
Ind    Indonesia   263991379  1904556
Bra       Brazil   209288278  8511965

   Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324458463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965

In [151]:

df = pd.DataFrame()
dict = {'First Name': 'Vikram', 'Last Name': 'Aruchamy', 'Country': 'India'}
df = df.append(dict, ignore_index = True)
df

  First Name Last Name Country
0     Vikram  Aruchamy   India

## Problem 8:

Using the Pandas DataFrame previously created (`prob7_df`):
    
- Drop China from the data frame
- Add a new country at the bottom (Russia, Population = 143,989,754, Size = 17,098,246
- Save the answer on prob8_df

In [200]:
prob8_df= prob7_df.copy(deep= True)
prob8_df.loc["Rus"]= ["Russia", 143989754,17098246]
prob8_df= prob8_df.drop("Chi")
prob8_df

    Country Name  Population      Size
Ind        India  1339180127   3287263
USA          USA   324458463   9629091
Ind    Indonesia   263991379   1904556
Bra       Brazil   209288278   8511965
Rus       Russia   143989754  17098246

## Problem 9:

Using the Pandas DataFrame previously created (`prob8_df`):
    
    * Sort by Population ascending and in place

In [211]:
prob8_df.sort_values("Population", ascending=False, inplace=True)
print(prob8_df,"\n")

prob8_df.sort_values("Population", ascending=False)
print(prob8_df)

    Country Name  Population      Size
Ind        India  1339180127   3287263
USA          USA   324458463   9629091
Ind    Indonesia   263991379   1904556
Bra       Brazil   209288278   8511965
Rus       Russia   143989754  17098246

    Country Name  Population      Size
Ind        India  1339180127   3287263
USA          USA   324458463   9629091
Ind    Indonesia   263991379   1904556
Bra       Brazil   209288278   8511965
Rus       Russia   143989754  17098246

## Problem 10:

Using the Pandas DataFrame previously created (`prob8_df`):
    
    * Rename the columns as "Count", "Pop" and "Area""
    * Add a new column called "Pop/Area" and has as values the ratio of the Population over the Area

In [213]:
prob8_df.rename(
    columns={
        "Country Name": "Count",
        "Population": "Pop",
        "Size": "Area"
    }, inplace=True)
prob8_df["Pop/Area"]= prob8_df["Pop"]/prob8_df["Area"]
prob8_df

         Count         Pop      Area    Pop/Area
Ind      India  1339180127   3287263  407.384541
USA        USA   324458463   9629091   33.695648
Ind  Indonesia   263991379   1904556  138.610458
Bra     Brazil   209288278   8511965   24.587540
Rus     Russia   143989754  17098246    8.421317